.profile_header {
    position: relative;
    height: 315px;

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    padding: 10px;

    background-image: url('../img/profileCover.png');
    background-position: center center;
    background-size: cover;
}

.profile_header__picture_frame {
    position: absolute;
    bottom: 0;

    width: 176px;
    height: 176px;

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;

    padding: 3px;

    background-color: white;
}

.profile_header__picture {
    width: 168px;
    height: 168px;
}
