.profile_header {
    overflow: hidden;

    height: 315px;

    margin-bottom: 20px;

    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    padding: 15px;
    padding-bottom: 0;

    background-image: url('../img/profileCover.png');
    background-position: center center;
    background-size: cover;
}

.socialHeaderTop {
    position: relative;

    height: calc(315px - 44px - 15px);
}

.profile_header__picture_frame {
    position: absolute;
    bottom: -28px;

    width: 176px;
    height: 176px;

    padding: 3px;

    background-color: white;
}

.profile_header__picture {
    width: 168px;
    height: 168px;
}

.socialHeadings {
    position: absolute;
    bottom: 0;

    margin-left: 20px;
}

.socialHeaderMenu {
    height: 44px;

    line-height: 44px;

    margin: 0 -20px;

    border-left: none;
    border-right: none;
    border-bottom: none;

    padding-left: calc(176px + 35px);

    list-style-type: none;
    background-color: white;
}

.socialHeaderMenu > li {
    float: left;

    height: 100%;

    padding: 0 15px;
}
